<ion-header>
  <ion-navbar>
    <ion-title>Repositories</ion-title>
    <ion-fab right middle>
      <button ion-fab mini>
        <ion-icon color="light" name="person"></ion-icon>
      </button>
      <ion-fab-list side="left">
        <button ion-fab color="primary" (click)="goToUsers('add')">
          <ion-icon color="light" name="add"></ion-icon>
        </button>
        <button ion-fab color="primary" (click)="goToUsers('delete')">
          <ion-icon color="light" name="close"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="repositories && repositories.length === 0" class="no-elements-container" color="light">
    You do not have any repositories!
  </div>
  <ion-list class="repos-list" [virtualScroll]="repositories" approxItemHeight="108px">
    <ion-item *virtualItem="let repository" color="light" margin-bottom>
      <ion-icon class="large-icon" item-left [name]="repository.fork ? 'git-network' : 'book'"></ion-icon>

      <div class="item-content">
        <h2 class="text-ellipsis">
          <strong>{{repository.name}}</strong>
        </h2>
        <ion-row class="color-primary">
          <ion-col col-4 class="setting-info-container">
            <ion-icon item-left name="ios-alert-outline"></ion-icon>
            {{repository.issues}}
          </ion-col>
          <ion-col col-8 class="setting-info-container text-ellipsis">
            <ion-icon item-left ios="ios-time-outline" md="md-time"></ion-icon>
            {{repository.age}}
          </ion-col>
        </ion-row>

      </div>

      <!--<button class="arrow-forward-button" (click)="goToRepositorySettings(repository)" item-right ion-button-->
      <!--clear>-->
      <!--<ion-icon color="primary" ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>-->
      <!--</button>-->
    </ion-item>
  </ion-list>
</ion-content>
