page-home {
  $border-style: thin solid gray;
  .bold-content{
    font-weight: bold;
  }

  .bottom-border{
    border-bottom: $border-style;
    padding-bottom: 1rem;
  }

  .header-text-overflow{
    white-space: nowrap;
    width: 18em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-div-content{
    height: 100%;
    margin-right: 2rem;
    font-weight: bold;
  }
  .top-bottom-margin{
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
  }

}
