<!--
  Generated template for the RepositorySettings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="setting && repositorySetting">{{setting.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="updateRepositorySetting()">
        <ion-icon name="ios-checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ng-container *ngIf="setting && repositorySetting">
    <ion-card>

      <ion-card-header color="light" class="text-ellipsis">
        Pull requests
      </ion-card-header>

      <ion-card-content class="ion-item-content">
        <ion-list no-lines>
          <ion-item>
            <ion-toggle [(ngModel)]="repositorySetting.newOnesPull" ></ion-toggle>
            <ion-label>New ones</ion-label>
          </ion-item>
          <ion-item>
            <ion-toggle [(ngModel)]="repositorySetting.commitsPull"></ion-toggle>
            <ion-label>Commits</ion-label>
          </ion-item>
          <ion-item>
            <ion-toggle [(ngModel)]="repositorySetting.commentsPull"></ion-toggle>
            <ion-label>Comments</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>

    </ion-card>
    <ion-card>

      <ion-card-header color="light" class="text-ellipsis">
        Issues
      </ion-card-header>

      <ion-card-content class="ion-item-content">
        <ion-list no-lines>
          <ion-item>
            <ion-toggle [(ngModel)]="repositorySetting.newOnesIssues"></ion-toggle>
            <ion-label>New ones</ion-label>
          </ion-item>
          <ion-item>
            <ion-toggle [(ngModel)]="repositorySetting.commitsIssues"></ion-toggle>
            <ion-label>Commits</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>

    </ion-card>
  </ng-container>
</ion-content>
