
<ion-header>

  <ion-navbar>
    <ion-title>Pull requests</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="pullRequests && pullRequests.length === 0" class="no-elements-container" color="light">
    You do not have any open pull request!
  </div>
  <ion-list [virtualScroll]="pullRequests" no-lines approxItemHeight="210px">
    <ion-item *virtualItem="let pullRequest" color="dark">

      <ion-card class="top-bottom-margin">

        <ion-card-header color="light" class="text-ellipsis">
          {{pullRequest.title}}
        </ion-card-header>

        <ion-card-content>

          <ion-row class="bottom-border color-primary">
            <div text-center class="card-content-wrapper">
              <strong>
                <ion-icon name="git-pull-request"></ion-icon>
              </strong>
              <div><strong>{{pullRequest.id}}</strong></div>
            </div>
            <div class="branches-wrapper">
              <h4 class="text-ellipsis"><strong>from</strong> {{pullRequest.from}}</h4>
              <h4 class="text-ellipsis"><strong>to</strong> {{pullRequest.to}}</h4>
            </div>
          </ion-row>

          <ion-row color="primary" class="color-primary">
            <ion-col col-12 col-sm class="text-ellipsis">
              <ion-icon name="book" item-left></ion-icon>
              {{pullRequest.from_repo_name}}
            </ion-col>
            <ion-col col-6 col-sm class="text-ellipsis">
              <ion-icon name="contact" item-left></ion-icon>
              {{pullRequest.username}}
            </ion-col>
            <ion-col col-6 col-sm class="text-ellipsis">
              <ion-icon ios="ios-time-outline" md="md-time" item-left></ion-icon>
              {{pullRequest.date | date: 'shortDate'}}
            </ion-col>
          </ion-row>

        </ion-card-content>

      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
