page-users {
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: map-get($colors, primary);
    box-shadow: inset 0 -1px 0 0 map-get($colors, primary);
  }

  .color-light {
    * {
      color: map-get($colors, light);
    }
  }

  .no-users-container {
    margin-top: 1em;
    text-align: center;
    color: map-get($colors, light);
  }
}
